# API
PORT=3001
DATABASE_URL="postgresql://onoffix:onoffix@localhost:5432/onoffix?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
